<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<!--<bean id="daoEmployee" class="fr.formation.inti.dao.EmployeeDao" factory-method="createInstance"></bean>-->
	<bean id="daoEmployee" class="fr.formation.inti.dao.EmployeeDao"></bean>
	
	
	<!-- dans bean, scope="prototype" ou "singleton" (par défaut) -->
	<!-- dans bean, autowire="byType" (par défaut), "byName"... -->
	<bean id="serviceEmployee" class="fr.formation.inti.service.EmployeeService">
		<property name="dao" ref="daoEmployee"/>
		<!--<property name="message" value="example inject value"/>-->
		<!--<constructor-arg name="dao" ref="daoEmployee"/>-->
	</bean>
	
</beans>